{% load static %}
		<footer id="footer" class="footer">
			<div class="container">
				<div class="row">

					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms">
						<div class="footer-single">
							<img src="{% static 'assets/img/footer-logo.png' %}" alt="">
							<p>هدف ما در یه کار نو اینه که سبک زندگی شمارو تغییر بدیم! قصد داریم بهتون یاد بدیم که میشه با کسب مهارت های جدید در زندگی شخصیتون یه زندگی شاد و دوست داشتنی رو تجربه کنین
                            </p>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
						<div class="footer-single">
							<h6>Subscribe </h6>
							<form action="#" class="subscribe">
								<input type="text" name="subscribe" id="subscribe">
								<input type="submit" value="&#8594;" id="subs">
							</form>
							<p>در کانال واتساپی ما عضو شوید </p>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
						<div class="footer-single">
							<h6>Explore</h6>
							<ul>
								<li><a href="#">Inside Us</a></li>
								<li><a href="#">Flickr</a></li>
								<li><a href="#">Google</a></li>
								<li><a href="#">Forum</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
						<div class="footer-single">
							<h6>Support</h6>
							<ul>
								<li><a href="#">درباره ما</a></li>
								<li><a href="#">تماس با ما</a></li>
								<li><a href="#">مقالات</a></li>
								<li><a href="#">محصولات آموزشی</a></li>
							</ul>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="copyright text-center">
							Copyright © 2022 <a href="http://1kareno.com/"></a>تمامی حقوق محفوط است. طراحی و توسعه توسط رضا اصغریان <a href="http://1kareno.com/"></a>
						</p>
					</div>
				</div>
			</div>
		</footer>