{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Articles</title>
{% endblock %}

{% block content %}

<section id="team" class="team">
			<div class="container">
				<div class="row">

					<div class="sec-title text-center wow fadeInUp animated" data-wow-duration="700ms">
						<h2>Articles</h2>
						<div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
					</div>

					<!-- single member -->
					{% if articles %}
					{% for article in articles %}
						<figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
							<div class="member-thumb">
								<img src="{% static 'assets/img/team/member-1.png' %}" alt="Team Member" class="img-responsive">
								<figcaption class="overlay">
									<h5>{{article.title}}</h5>
									<p>{{article.description}}</p>
									<ul class="social-links text-center">
										<li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
										<li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
										<li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
									</ul>
								</figcaption>
						</div>
						<h4>John Filmr Doe</h4>
						<span>Managing Director</span>
					</figure>
					{% endfor %}
					{% endif %}
					<!-- end single member -->
				</div>
			</div>
		</section>

{% endblock %}
