{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>
<body style="background-image: url({% static 'assets/img/banner.jpg' %});background-repeat:no-repeat;background-size: cover">
<div class="container center" >

    <div class="row" style="margin-top:120px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">{{ error|escape }}</div>
            {% endfor %}
            {% endfor %}
            {% endif %}
                <form action="#" method="post" role="form">
                    {% csrf_token %}
                    <fieldset>
                        <h2 style="color: white">Please Sign up</h2>
                        <hr class="colorgraph">
                        <div class="form-group">
                            <input type="fname" name="first_name" id="first_name" class="form-control input-lg"
                                   placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input type="lname" name="last_name" id="last_name" class="form-control input-lg"
                                   placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <input type="username" name="username" id="username" class="form-control input-lg"
                                   placeholder="username">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-lg"
                                   placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password1" id="password" class="form-control input-lg"
                                   placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password2" id="password_confirmation"
                                   class="form-control input-lg" placeholder="Password Confirmation">
                        </div>

                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <button type="submit" class="btn btn-lg btn-primary btn-block">Sign up</button>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="margin-top: 1rem; color: white">
                                If you have any account, please <a href="{% url 'account:login' %}" value="Sign In">Sign
                                In</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
    <script src="{% static 'assets/js/scripts.js' %}"></script>
</body>
</html>